.App {
  font-family: sans-serif;
background-image: url("https://i.pinimg.com/originals/51/ed/c0/51edc046eb80046ee4755ee71d0f19ca.jpg");
height : 100%;
}
.addtodo {
margin-bottom: 0.5rem;
padding: 0.5rem;
background-color: white;
}
.textfielddiv {
  padding-right: 0.5rem;
}
.todo {
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  align-items: center;
}
.info {
  width: 85%;
  overflow: auto;
}
.control{
width: 15%;
display: flex;
justify-content: end;
}
#root, html,body{
height : 100%;
margin: 0;
}
